/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variable */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/*Navigation Bar: Logo and Image */
#logo{
margin: 10px 34px;
}
#logo img{
height: 59px;
margin: 3px 6px;
}
/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

#navbar ul li{
    list-style: none;
font-size: 1.3rem;
}

#navbar ul li a{
    color: rgb(224, 187, 224);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: rgb(221, 126, 126);
}
/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height:300px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../bg9.jpg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 60%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
color: white;
text-align: center;
font-family: 'Baloo Bhaijaan 2', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
/* services section */
#services{
    margin: 30px;
    display: flex;
    background: url('bg8.jpg.jpg');
}
#services .box{
    border: 2px solid rgb(128, 83, 0);
    padding: 5px;
    margin: 3px 10px;
    border-radius: 23px;
    background-color: rgb(229, 167, 231);
    margin-bottom: 20px;
    
}
#services .box img{
height: 89px;
margin: auto;
display: block;
}
    #services .box p{
        font-family: 'Baloo Bhaijaan 2', cursive;

    }
    

    /* client section */
    #client-section{
/* height:344px; */
position: relative;
    }

    #client-section::before{
content: "";
position: absolute;
background: url('../bg8.jpg.jpg');
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.6;
       
            }
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-items{
    padding: 34px;
}
#clients img{
    height: 124px;
}
/* contact section */
#contact{
position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
   background: url('../bg16.jpg.jpg');
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px;
    color:blue;
    
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    color: rgb(219, 203, 219);
    background: black;
    border:2px solid rgb(0, 255, 221);

}
#contact-box form{
    width: 40%;

}

#contact-box label{
    font-size: 1.2rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility classes */
.h-primary{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 2rem;
    padding: 8px;
    
}
.h-secondary{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 1.6rem;
    padding: 8px;
    
}
.btn{
    padding: 6px 20px;
    border: 2px solid green;
    background-color: black;
    color: rgb(168, 44, 168);
    margin: 17px;
    font-size: 1.2rem;
    border-radius:8px;
    cursor: pointer;

}
.center{
    text-align: center;
}
